<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <div class="header">
      <img src="/img/logo.png" alt="" width="50px" />
      <span class="desc">Security Information Management System</span>
    </div>
    <div class="auth-container">
      <% if(success && success.length > 0){%>
      <div class="alert alert-success text-center fadeIn animated" id="flash">
        <%= success %>
      </div>
      <%}%> <% if(error && error.length > 0){%>
      <div class="alert alert-danger text-center fadeIn animated" id="flash">
        <%= error %>
      </div>
      <%}%> <% if(warning && warning.length > 0){%>
      <div class="alert alert-warning text-center fadeIn animated" id="flash">
        <%= warning %>
      </div>
      <%}%>
      <div class="container">
        <form action="/auth/forgot-password" method="POST">
          <h2 class="text-center mt-4">Forgot Password</h2>
          <p class="text-center">Enter your email address below</p>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-2">
                <label for="username">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="input form-control p-2"
                />
              </div>
            </div>
          </div>
          <button id="add-me">Proceed</button>
          <a href="/auth/login" class="text-center d-block">Login Instead</a>
        </form>
      </div>
    </div>
    <style>
      #add-me {
        width: 100%;
        border: none;
        background-color: purple;
        color: #fff;
        border-radius: 2mm;
        padding: 10px;
      }

      #add-me:hover {
        background-color: #ce06ce;
      }
    </style>
    <script>
      const email = window.location.search.split(/[=]/g)[1];
      document.forms[0].querySelector("#email").value = email || "";
    </script>
  </body>
</html>
