<%- include("./header"); -%>
    <main class="float-end p-3 position-relative">
      <div class="breadcrumb"><h1>Dashboard</h1></div>
      <div class="cards">
        <div class="box">Records</div>
        <div class="box">Complaints</div>
      </div>
      <div class="cards">
        <div class="box">All</div>
      </div>
    </main>
  </body>
</html>
