<%- include("partials/header"); -%>

    <div class="container wow slideInLeft" id="container">
        <div class="alert alert-success"> <%= success %> </div>
             <div class="container" id="recently_added">
                 <div class="row">
                     <div class="col-md-12">
                         <h1 class="">Recently Added Records</h1>
                         <div class="img-thumbnail rounded float-left wow slideInRight ml-3" styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                         <div class="img-thumbnail rounded float-left wow slideInRight ml-3" styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                         <div class="img-thumbnail rounded float-left ml-3" styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                         <div class="img-thumbnail rounded float-left ml-3" styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="container" id="top_offenders">
                 <div class="row">
                     <div class="col-md-12">
                         <h1 class="">Top Offenders</h1>
                         <div class="img-thumbnail rounded float-left ml-3 " styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                         <div class="img-thumbnail rounded float-left ml-3" styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                         <div class="img-thumbnail rounded float-left ml-3" styles="padding: 10px">
                             <img src="http://picsum.photos/200" alt="">
                             <p>Bla Bla Bla</p>
                         </div>
                     </div>
                 </div>
             </div>
    </div>

<%- include("partials/footer"); -%>