body {
  overflow: hidden;
}
.main {
  position: relative;
}
.left-menu {
  height: 100vh;
  position: absolute;
  left: 0;
  width: 20%;
  padding-top: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(128, 0, 128, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.left-menu img {
  display: block;
  margin: 5px auto;
}
.details-dash {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
}
.actions ul {
  padding: 0;
}
.actions button {
  width: 100%;
  border: none;
  padding: 10px;
  border-bottom: 0.5px solid #f3f3f3;
  color: #585b5d;
  text-align: start;
  background-color: #fff;
}
.actions button:focus {
  border: none;
  outline: none;
}
.actions button:hover {
  background-color: #fbfbfb;
}
.selected-border {
  border-left: 5px solid purple;
}
.profile-photo {
  width: 50%;
  margin: 0 auto;
}
#photo {
  width: 100%;
}

/* Profile  styles starts here */
.profile {
  position: relative;
}
.profile .info {
  background-color: #ffffff;
  color: #585b5d;
  height: 300px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(128, 0, 128, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .icon {
  /* border-right: 1px solid grey; */
  padding: 10px;
  word-wrap: break-word;
  min-width: 150px;
  text-align: center;
}
.icon p {
  font-size: large;
}
.details {
  height: 100%;
  width: 100%;
  padding: 10px 5px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .info .title{
    position: absolute;
    top: 0;
    width: 100%;
} */

@media (max-width: 965px) {
  .profile .icon {
    font-size: small;
    max-width: 100px;
  }
  .icon p {
    font-size: small;
    margin: 10px;
  }
}
