body{
    color: #3c3c3c;
    height: 100vh;
}
h1{
    color: #3c3c3c;
    font-weight: 800 !important;
}
li{
    list-style: none;
}
.img-thumbnail{
    height:200px !important;
    width:200px;
    background-color: turquoise !important;
}