:root {
  --bs-danger: #ff5d6d;
  --bs-primary: #61a1ff;
  --bs-success: #4ac58c;
}
* {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #5d5d5d !important;
  background-color: #fbfbfb !important;
}
h1,
h2,
h3,
h4 {
  color: #3c3c3c;
  font-weight: inherit;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  background-color: #fff;
}

a {
  text-decoration: none !important;
  color: inherit;
}
button {
  cursor: pointer;
}
nav * {
  transition: 0.1s linear;
  color: #3c3c3c;
}
#top-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.7em;
  padding: 10px;
  text-align: center;
}
.navbar {
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.3) !important;
  display: block !important;
  background-color: #fff;
  width: 100%;
}
.img-thumbnail {
  max-width: 150px !important;
  max-height: 150px !important;
  border: none;
  padding: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
}
.section {
  display: grid !important;
  grid-template-columns: 150px auto;
}
.active {
  border-bottom: 4px solid rgb(128, 0, 128);
  color: rgb(128, 0, 128) !important;
}
.navbar-dark .container {
  margin-bottom: 0px;
}
#menu_btn:focus {
  outline: none !important;
  background-color: rgb(128, 0, 128);
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border: none !important;
  margin-bottom: 5px;
}
.input-group-text {
  background-color: #fff !important;
}
select {
  outline: none;
  border: none;
  background-color: #fff;
}

.blue {
  color: #61a1ff;
}
.blue-bg {
  background-color: #61a1ff !important;
}
.red {
  color: #ff5d6d;
}
.red-bg {
  background-color: #ff5d6d !important;
}
.green {
  color: #4ac58c;
}
.green-bg {
  background-color: #4ac58c !important;
}
.white {
  color: #fff !important;
}

.complaints {
  padding: 0;
}

.complaints li:nth-of-type(2n) {
  background-color: #f7f7f7;
}

.complaint {
  width: 100%;
  text-align: start;
}
.complaint:focus {
  box-shadow: none;
}
