.img-thumbnail {
  max-height: 150px !important;
  max-width: 150px !important;
}
.filter {
  margin: 20px auto;
  justify-content: space-between;
}
.filter select,
input,
button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
}
