.img-thumbnail {
  max-height: 150px !important;
  max-width: 150px !important;
}
.filter {
  margin: 20px auto;
}
.filter select,
input,
button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
  box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.1);
}
.filter button {
  background-color: #7b3882;
  color: #fff;
}
